html, body {
  margin:0;
  box-sizing: border-box;
  
  }
  ::after, ::before {
    margin:0;
    box-sizing: border-box;
  }
  body {
    background: #333;
    min-height: 100vh;
  }
  .btn-success {
   color:#fff;
   background: rgba(48, 161, 155, 0.795);
  }
  .btn-warnning {
    color:#fff;
    background: rgba(140, 120, 102, 0.61);
    
  }
  .btn-danger {
    color:#fff;
    background: rgba(187, 83, 83, 0.59);
  }
  .btn-danger,
  .btn-warnning, 
  .btn-success,.num-btn {
    min-width: 6rem;;
    padding:2rem;
    text-align: center;
    border: none !important;
    cursor: pointer;
    transition: all .5s ease;
    font-size: 1rem;
    outline: none;
  }
  .btn-danger:hover,
  .btn-warnning:hover, 
  .btn-success:hover,.num-btn:hover {
    transform: rotateX(3deg);
    font-weight: 700;
    border-radius: .6rem;
  }
  .num-btn {
    background: rgba(189, 199, 216, 0.535);
  }
  .equal-btn {
    width:49.12%;
  }
  .section-center {
    display: grid;
    place-items: center;
    margin: auto;
    height: 100vh;
  }
  .display {
    display: grid;
    place-items: center;
    padding: 0 0 1rem 0;
  }
  
  #display-screen {
    width: 100%;
    padding:2rem;
    text-align: right;
    font-weight: 800;
    font-size: 1.2rem;
    border: none;
    outline: none;
    word-wrap: break-word;
  }
